/* variables */
$dark: #303030;
$blue: #2d68ff;
$grey: #999999;
$lightgrey: #F2F3F4;
$white: #ffffff;


.contact-from {
  padding-bottom: 35px!important;

  .buttonbox {
    margin: 55px auto;
    bottom: 65px;
  }
}
section {
  overflow: hidden;
}
/* styles for contact form */
.form {
  max-width: 1000px;
  padding: 65px 35px 0 35px;
  margin: 0 auto;

  // underline and placeholder move and input
  .group {
    position: relative;
  	margin: 0 auto;
    margin-bottom: 85px;
  }
  input.input {
  	display: block;
  	width: 100%;
    padding: 10px 10px 10px 5px;
  	background: transparent;
    border: none;
    border-bottom: 1px solid rgba($grey, 0.65);
  	border-radius: 1px;
    box-shadow: 0 0 0 transparent;
  	color: $dark;
    font-size: 18px;
  }
  input.input.warning {
    border-bottom: 1px solid red;
  }
  input.input:focus {
  	 outline: none;
   }

  /* LABEL ======================================= */
  label.loglabel {
    color: $grey;
    font-size: 18px;
    font-weight: 300;
    pointer-events: none;
    position: absolute;
    left: 15px;
    top: 10px;
    transition: 0.2s ease all;
  }
  /* Change the yellow to any color ;) */
  .login input:-webkit-autofill,
  .login input:-webkit-autofill:hover,
  .login input:-webkit-autofill:focus,
  .login input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  		-webkit-text-fill-color: $white !important;
  }

  /* active state */
  input.input:focus ~ label.loglabel, input.input:valid ~ label.loglabel, label.loglabel.has-value {
    top: -15px;
    font-size: 14px;
    color: $blue;
  }

  /* BOTTOM BARS ================================= */
  .bar {
    width:100%;
    position:relative;
    display:block;
  }
  .bar:before, .bar:after 	{
    content:'';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0px;
    background: $blue;
    transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  /* active state */
  input.input:focus ~ .bar:before, input.input:focus ~ .bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  input.input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
  }
  textarea.input {
    resize: none;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($grey, 0.65);
    border-radius: 1px;
    box-shadow: 0 0 0 transparent;
    color: $dark;
    font-size: 18px;
  }
  /* active state */
  textarea.input:focus ~ .bar:before, textarea.input:focus ~ .bar:after {
    width: 50%;
  }

  /* active state */
  textarea.input:focus ~ label.loglabel, textarea.input:valid ~ label.loglabel, label.loglabel.has-value {
    top: -15px;
    font-size: 14px;
    color: $blue;
  }
  textarea.input:focus {
    outline: none;
  }
  textarea.input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
  	from { background: $blue; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
  	from { background: $blue; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
  	from { background: $blue; }
    to 	{ width:0; background:transparent; }
  }
}
